aside {
    position: relative;
    width: 100%;
    min-width: 1024px;
}

aside > img {
    width: 100%;
    height: 100%;
}

.headertext {
    position: absolute;
    width: auto;
    height: 60px;
    top: 50%;
    right: 0;
    left: 0;
    margin-top: -30px;
    text-align: center;
}

.headertext > p {
    height: 39px;
    line-height: 39px;
    top: 37%;
    font-size: 40px;
    color: #ffffff;
}

.headertext > hgroup {
    margin-top: 9px;
    font-size: 14px;
    color: #999999;
}

.media {
    display: flex;
    width: 73%;
    min-width: 1024px;
    margin: 45px auto;
    flex-wrap: wrap;
    justify-content: space-between;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-align-content: space-between;
    align-content: space-between;
    flex-basis: 27%;
}

.media > div {
    display: inline-block;
    position: relative;
    width: 27%;
    height: auto;
    min-width: 15%;
    margin: 25px 3%;
    overflow: hidden;
}

.media > div > img {
    width: 100%;
    min-width: 280px;
}

.media > div > div {
    display: none;
    position: absolute;
    width: 100%;
    height: 98%;
    top: 0;
    left: 0;
    background-color: #272a2d;
    opacity: 0.8;
    z-index: 1;
}

.media > div > div > span {
    display: block;
    text-align: center;
    font-size: 24px;
    font-family: "MicrosoftYaHei-Bold";
    /*font-weight: bold;*/
    color: #1bf7ff;
    z-index: 99;
}

.media > div > div > span:nth-child(1) {
    padding-top: 26%;
}

.media > div > div > span:nth-child(2) {
    margin-top: 3%;
}

@media only screen and (max-width: 800px) {
    .headertext {
        position: absolute;
        width: auto;
        height: 40px;
        top: 50%;
        right: 0;
        left: 0;
        margin-top: -20px;
        text-align: center;
    }
    .headertext > p {
        height: auto;
        line-height: 1;
        font-size: 20px;
    }
    .headertext > hgroup {
        margin-top: 0;
        font-size: 12px;
        color: #999999;
    }
    aside {
        min-width: 0;
        border-top: solid #272a2d 71px;
    }
    .media {
        width: 100%;
        min-width: 0;
        margin: 45px auto;
        flex-wrap: wrap;
        justify-content: space-around;

        flex-basis: 40%;
    }
    .media > div {
        position: relative;
        width: 40%;
        height: auto;
        min-width: 0;
        /*margin: 25px 3%;*/
    }
    .media > div > img {
        width: 100%;
        height: 100%;
        min-width: 0;
    }
    .media > div > div > span {
        font-size: 16px;

    }
}