@font-face {
  font-family: 'lhjicon';
  src:  url('fonts/lhjicon.eot?gb1sp5');
  src:  url('fonts/lhjicon.eot?gb1sp5#iefix') format('embedded-opentype'),
    url('fonts/lhjicon.ttf?gb1sp5') format('truetype'),
    url('fonts/lhjicon.woff?gb1sp5') format('woff'),
    url('fonts/lhjicon.svg?gb1sp5#lhjicon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'lhjicon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gather:before {
  content: "\e900";
}
.icon-cancel:before {
  content: "\e901";
}
.icon-yuanjing:before {
  content: "\e902";
  color: #108ee9;
}
.icon-jianjie:before {
  content: "\e903";
}
.icon-paragraph-justify:before {
  content: "\ea7a";
}
